@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;600;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Overpass:wght@400;700&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Overpass;
    font-weight: 700;
    background: #131518;
    margin: 0;
}

.container {
    align-items: center;
    max-width: 380px;
    max-height: 384px;
    border-radius: 30px;
    padding: 32px;
    background: radial-gradient(98.96% 98.96% at 50.00% 0%, #232A34 0%, #181E27 100%);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius:  50%;
    width: 48px;
    height: 48px;
    background-color:  #262E38;
    margin-bottom: 30px;
}


.header {
    color: #FFF;
    font-size: 28px;
}

p {
    text-align: start;
    color: #969FAD;   
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; 
    width: 340px;
    height: 72px;
    padding: 0px;
}

.list-items {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 32px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:  50%;
    width: 51px;
    height: 51px;
    color: #7C8798;
    font-family: Overpass;
    font-size: 16px;
    font-weight: 700;
    background-color: #262E38;
    cursor: pointer;
    border: 0px;
}

.item:hover {
    color: #FFF;
    background-color: #7C8798;
}

.item.selected {
    background-color: #FC7614;
    color: #FFF;
}

.icon-star {
    width: 17px;
    height: 16px;
    margin-left: 1px;
}

.submit-btn {
    font-size: 15px;
    font-family: Overpass;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
    width: 341px;
    height: 45px;
    border: 0px;
    border-radius: 22.5px;
    background-color: #FC7614;
    cursor: pointer;
}

.submit-btn:hover {
    color: #FC7614;
    background-color: #FFF;
}

.img-thanks {
    margin-top: 13px;
    margin-bottom: 32px;
}

.score-result {
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #FC7614;
    font-size: 15px;
    font-weight: 400;
    width: 193px;
    height: 32px;
    border-radius: 22.5px;
    background-color: #262E38;
}

#screen2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-page2 { 
    color: #FFF;
    font-size: 28px;
    text-align: center;
    margin-top: 32px;
}

.score-text {
    text-align: center;
}